{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col space-y-10 w-[100%] p-10 items-center  h-screen">
    <div class="space-y-4 w-[100%] items-center text-center">
        <h1 class="dark:text-gray-300 text-gray-800 font-bold text-5xl ">{{article.title|title}}</h1>
        <div class="w-[100%]">
            <p class="text-gray-700 italic font-semibold">{{article.author}},</p>
            <p class="text-gray-700 italic">{{article.dateposted}}</p>
        </div>
    </div>
    <div class="mt-10">
        {{article.content|safe}}
    </div>
</div>
{% endblock %}