<div class="flex  justify-between px-3 py-4  items-center">
    <h1 class="text-4xl text-white font-bold">Program<span class="text-orange-500 font-normal">Pulse</span></h1>
    <div class="mr-0 lg:mr-10">
        <ul class="flex space-x-0 lg:space-x-5 text-lg font-semibold text-white justify-between items-center">
            <a href="{%url 'home' %}"><li>Home</li></a>
            <a href=""><li>Blogs</li></a>
            <a href="{%url 'login' %}"><li>Login</li></a>
            <a href="{%url 'register' %}"><li>Register</li></a>
        </ul>
    </div>
</div>